In [43]:
import zipfile
import os

customers = 'customerNumber\tcustomerName\tcontactLastName\tcontactFirstName\tphone\taddressLine1\taddressLine2\tcity\tstate\tpostalCode\tcountry\tsalesRepEmployeeNumber\tcreditLimit'
employees = 'employeeNumber\tlastName\tfirstName\textension\temail\tofficeCode\treportsTo\tjobTitle'
offices = 'officeCode\tcity\tphone\taddressLine1\taddressLine2\tstate\tcountry\tpostalCode\tterritory'
orderdetails = 'orderNumber\tproductCode\tquantityOrdered\tpriceEach\torderLineNumber'
payments = 'customerNumber\tcheckNumber\tpaymentDate\tamount'
products = 'productCode\tproductName\tproductLine\tproductScale\tproductVendor\tproductDescription\tquantityInStock\tbuyPrice\tMSRP'

table_headers = (customers, employees, offices, orderdetails, payments, products)

zip_path = 'classicmodels.db__1_.zip'
with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    zip_ref.extractall(f'dataset/')
    
path = 'dataset/classicmodels.db'
os_walk = list(os.walk(path))
tables = list(zip(table_headers, os_walk[0][1], [i[2][:-1] for i in os_walk[1:]]))

target_path = 'classicmodels.db'
if not os.path.exists(target_path):
    os.mkdir(target_path)

for table in tables:
    parts = f'{table[0]}\n'
    for table_part in table[2]:
        file_path = os.path.join(path, table[1], table_part)
        with open(file_path, 'r') as f:
            file_data = f.readlines()
            parts += ''.join(file_data)

    with open(os.path.join(target_path, f'{table[1]}.csv'), 'w') as f:
        f.write(parts.replace('\x01', '\t'))

In [ ]:
for table in tables:
    path_csv = os.path.join('da', f'{table}')
    print(path_csv)
    print(pd.read_csv(path_csv, sep='').shape)
    s += pd.read_csv(path_csv, sep='').shape[0]

In [34]:
s = 0

for table in tables:
    path_csv = os.path.join('classicmodels.db', f'{table[1]}.csv')
    print(path_csv)
    print(pd.read_csv(path_csv, sep='').shape)
    s += pd.read_csv(path_csv, sep='').shape[0]
    
print(s)

classicmodels.db\customers.csv
(122, 1)
classicmodels.db\employees.csv
(23, 1)
classicmodels.db\offices.csv
(7, 1)
classicmodels.db\orderdetails.csv
(2996, 1)
classicmodels.db\payments.csv
(273, 1)
classicmodels.db\products.csv
(109, 1)
3530

In [38]:
table[2]

['part-m-00000_copy_1',
 'part-m-00001_copy_1',
 'part-m-00002_copy_1',
 'part-m-00003_copy_1']

In [41]:
s = 0
for table in [f'part-m-0000{i}_copy_1' for i in range(4)]:
    path_csv = os.path.join('classicmodels.db', 'employees', f'{table}')
    print(path_csv)
    print(pd.read_csv(path_csv, sep='', header=None).shape)
    s += pd.read_csv(path_csv, sep='', header=None).shape[0]
    
print(s)

classicmodels.db\employees\part-m-00000_copy_1
(8, 1)
classicmodels.db\employees\part-m-00001_copy_1
(5, 1)
classicmodels.db\employees\part-m-00002_copy_1
(4, 1)
classicmodels.db\employees\part-m-00003_copy_1
(6, 1)
23

In [37]:
len('''
1002	Murphy	Diane	x5800	dmurphy@classicmodelcars.com	1	null	President
1056	Patterson	Mary	x4611	mpatterso@classicmodelcars.com	1	1002	VP Sales
1076	Firrelli	Jeff	x9273	jfirrelli@classicmodelcars.com	1	1002	VP Marketing
1088	Patterson	William	x4871	wpatterson@classicmodelcars.com	6	1056	Sales Manager (APAC)
1102	Bondur	Gerard	x5408	gbondur@classicmodelcars.com	4	1056	Sale Manager (EMEA)
1143	Bow	Anthony	x5428	abow@classicmodelcars.com	1	1056	Sales Manager (NA)
1165	Jennings	Leslie	x3291	ljennings@classicmodelcars.com	1	1143	Sales Rep
1166	Thompson	Leslie	x4065	lthompson@classicmodelcars.com	1	1143	Sales Rep
1188	Firrelli	Julie	x2173	jfirrelli@classicmodelcars.com	2	1143	Sales Rep
1216	Patterson	Steve	x4334	spatterson@classicmodelcars.com	2	1143	Sales Rep
1286	Tseng	Foon Yue	x2248	ftseng@classicmodelcars.com	3	1143	Sales Rep
1323	Vanauf	George	x4102	gvanauf@classicmodelcars.com	3	1143	Sales Rep
1337	Bondur	Loui	x6493	lbondur@classicmodelcars.com	4	1102	Sales Rep
1370	Hernandez	Gerard	x2028	ghernande@classicmodelcars.com	4	1102	Sales Rep
1401	Castillo	Pamela	x2759	pcastillo@classicmodelcars.com	4	1102	Sales Rep
1501	Bott	Larry	x2311	lbott@classicmodelcars.com	7	1102	Sales Rep
1504	Jones	Barry	x102	bjones@classicmodelcars.com	7	1102	Sales Rep
1611	Fixter	Andy	x101	afixter@classicmodelcars.com	6	1088	Sales Rep
1612	Marsh	Peter	x102	pmarsh@classicmodelcars.com	6	1088	Sales Rep
1619	King	Tom	x103	tking@classicmodelcars.com	6	1088	Sales Rep
1621	Nishi	Mami	x101	mnishi@classicmodelcars.com	5	1056	Sales Rep
1625	Kato	Yoshimi	x102	ykato@classicmodelcars.com	5	1621	Sales Rep
1702	Gerard	Martin	x2312	mgerard@classicmodelcars.com	4	1102	Sales Rep
'''.strip().split('\n'))

23

In [3]:
import os

os.listdir('/weather_zip_files/')

FileNotFoundError: [WinError 3] The system cannot find the path specified: '/weather_zip_files/'

In [44]:
import zipfile
import os


zip_path = 'classicmodels.db__1_.zip'
with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    zip_ref.extractall(f'dataset/')
    
path = 'dataset/classicmodels.db'
os_walk = list(os.walk(path))
tables = list(zip(table_headers, os_walk[0][1], [i[2][:-1] for i in os_walk[1:]]))

target_path = 'classicmodels.db'
if not os.path.exists(target_path):
    os.mkdir(target_path)

for table in tables:
    for table_part in table[2]:
        file_path = os.path.join(path, table[1], table_part)
        file_data = ''
        with open(file_path, 'r') as f:
            file_data = f.readlines()
        if not os.path.exists(os.path.join(target_path, f'{table[1]}')):
            os.mkdir(os.path.join(target_path, f'{table[1]}'))
        with open(os.path.join(target_path, f'{table[1]}', f'{table_part}'), 'w') as f:
            f.write(f'{table[0]}\n')
            f.write(' '.join(file_data).replace('\x01', '\t'))

In [16]:
table_part

'part-m-00003_copy_1'

In [71]:
'\t'.join(
[i.split()[0] for i in 

'''
  productCode varchar(15),
  productName varchar(70) NOT NULL,
  productLine varchar(50) NOT NULL,
  productScale varchar(10) NOT NULL,
  productVendor varchar(50) NOT NULL,
  productDescription text NOT NULL,
  quantityInStock smallint(6) NOT NULL,
  buyPrice decimal(10,2) NOT NULL,
  MSRP decimal(10,2) NOT NULL,
'''.split('\n') if len(i.split()) > 0]
)

'productCode\tproductName\tproductLine\tproductScale\tproductVendor\tproductDescription\tquantityInStock\tbuyPrice\tMSRP'

In [ ]:
CREATE TABLE 'customers'(
'customernumber' string,
'customername' string,
'contactlastname' string,
'contactfirstname' string,
'phone' string,
'addressline1' string,
'addressline2' string,
'city' string,
'state' string,
'postalcode' string,
'country' string,
'salesrepemployeenumber' string,
'creditlimit' string)
ROW FORMAT SERDE
'org.apache.hadoop.hive.serde2.OpenCSVSerde'
WITH SERDEPROPERTIES (
'escapeChar'='\\',
'quoteChar'='"',
'separatorChar'='\t')
TBLPROPERTIES ('skip.header.line.count'='1')

In [ ]:
CREATE TABLE employees(
employeenumber string,
lastname string,
firstname string,
extension string,
email string,
officecode string,
reportsto string,
jobtitle string)
ROW FORMAT SERDE
'org.apache.hadoop.hive.serde2.OpenCSVSerde'
WITH SERDEPROPERTIES (
'escapeChar'='\\',
'quoteChar'='"',
'separatorChar'='\t')
TBLPROPERTIES ('skip.header.line.count'='1')

In [ ]:

CREATE TABLE offices(
officecode string,
city string,
phone string,
addressline1 string,
addressline2 string,
state string,
country string,
postalcode string,
territory string)
ROW FORMAT SERDE
'org.apache.hadoop.hive.serde2.OpenCSVSerde'
WITH SERDEPROPERTIES (
'escapeChar'='\\',
'quoteChar'='"',
'separatorChar'='\t')
TBLPROPERTIES (
'skip.header.line.count'='1')



CREATE TABLE orderdetails(
ordernumber string,
productcode string,
quantityordered string,
priceeach string,
orderlinenumber string)
ROW FORMAT SERDE
'org.apache.hadoop.hive.serde2.OpenCSVSerde'
WITH SERDEPROPERTIES (
'escapeChar'='\\',
'quoteChar'='"',
'separatorChar'='\t')
TBLPROPERTIES (
'skip.header.line.count'='1')



CREATE TABLE payments(
customernumber string,
checknumber string,
paymentdate string,
amount string)
ROW FORMAT SERDE
'org.apache.hadoop.hive.serde2.OpenCSVSerde'
WITH SERDEPROPERTIES (
'escapeChar'='\\',
'quoteChar'='"',
'separatorChar'='\t')
TBLPROPERTIES (
'skip.header.line.count'='1')



CREATE TABLE products(
productcode string,
productname string,
productline string,
productscale string,
productvendor string,
productdescription string,
quantityinstock string,
buyprice string,
msrp string)
ROW FORMAT SERDE
'org.apache.hadoop.hive.serde2.OpenCSVSerde'
WITH SERDEPROPERTIES (
'escapeChar'='\\',
'quoteChar'='"',
'separatorChar'='\t')
TBLPROPERTIES (
'skip.header.line.count'='1')

In [15]:
pd.read_csv('classicmodels.db/employees.csv', sep='\t')

,employeeNumber,lastName,firstName,extension,email,officeCode,reportsTo,jobTitle
0,1002,Murphy,Diane,x5800,dmurphy@classicmodelcars.com,1,NaN,President
1,1056,Patterson,Mary,x4611,mpatterso@classicmodelcars.com,1,1002.0,VP Sales
2,1076,Firrelli,Jeff,x9273,jfirrelli@classicmodelcars.com,1,1002.0,VP Marketing
3,1088,Patterson,William,x4871,wpatterson@classicmodelcars.com,6,1056.0,Sales Manager (APAC)
4,1102,Bondur,Gerard,x5408,gbondur@classicmodelcars.com,4,1056.0,Sale Manager (EMEA)
5,1143,Bow,Anthony,x5428,abow@classicmodelcars.com,1,1056.0,Sales Manager (NA)
6,1165,Jennings,Leslie,x3291,ljennings@classicmodelcars.com,1,1143.0,Sales Rep
7,1166,Thompson,Leslie,x4065,lthompson@classicmodelcars.com,1,1143.0,Sales Rep
8,1188,Firrelli,Julie,x2173,jfirrelli@classicmodelcars.com,2,1143.0,Sales Rep
9,1216,Patterson,Steve,x4334,spatterson@classicmodelcars.com,2,1143.0,Sales Rep
10,1286,Tseng,Foon Yue,x2248,ftseng@classicmodelcars.com,3,1143.0,Sales Rep
11,1323,Vanauf,George,x4102,gvanauf@classicmodelcars.com,3,1143.0,Sales Rep
12,1337,Bondur,Loui,x6493,lbondur@classicmodelcars.com,4,1102.0,Sales Rep
13,1370,Hernandez,Gerard,x2028,ghernande@classicmodelcars.com,4,1102.0,Sales Rep
14,1401,Castillo,Pamela,x2759,pcastillo@classicmodelcars.com,4,1102.0,Sales Rep
15,1501,Bott,Larry,x2311,lbott@classicmodelcars.com,7,1102.0,Sales Rep
16,1504,Jones,Barry,x102,bjones@classicmodelcars.com,7,1102.0,Sales Rep
17,1611,Fixter,Andy,x101,afixter@classicmodelcars.com,6,1088.0,Sales Rep
18,1612,Marsh,Peter,x102,pmarsh@classicmodelcars.com,6,1088.0,Sales Rep
19,1619,King,Tom,x103,tking@classicmodelcars.com,6,1088.0,Sales Rep
20,1621,Nishi,Mami,x101,mnishi@classicmodelcars.com,5,1056.0,Sales Rep
21,1625,Kato,Yoshimi,x102,ykato@classicmodelcars.com,5,1621.0,Sales Rep
22,1702,Gerard,Martin,x2312,mgerard@classicmodelcars.com,4,1102.0,Sales Rep

In [ ]:
employeeNumber,lastName,firstName,extension,email,officeCode,reportsTo,jobTitle
1002,Murphy,Diane,x5800,dmurphy@classicmodelcars.com,1,null,President
1056,Patterson,Mary,x4611,mpatterso@classicmodelcars.com,1,1002,VP Sales
1076,Firrelli,Jeff,x9273,jfirrelli@classicmodelcars.com,1,1002,VP Marketing
1088,Patterson,William,x4871,wpatterson@classicmodelcars.com,6,1056,Sales Manager (APAC)
1102,Bondur,Gerard,x5408,gbondur@classicmodelcars.com,4,1056,Sale Manager (EMEA)
1143,Bow,Anthony,x5428,abow@classicmodelcars.com,1,1056,Sales Manager (NA)
1165,Jennings,Leslie,x3291,ljennings@classicmodelcars.com,1,1143,Sales Rep
1166,Thompson,Leslie,x4065,lthompson@classicmodelcars.com,1,1143,Sales Rep
1188,Firrelli,Julie,x2173,jfirrelli@classicmodelcars.com,2,1143,Sales Rep
1216,Patterson,Steve,x4334,spatterson@classicmodelcars.com,2,1143,Sales Rep
1286,Tseng,Foon Yue,x2248,ftseng@classicmodelcars.com,3,1143,Sales Rep
1323,Vanauf,George,x4102,gvanauf@classicmodelcars.com,3,1143,Sales Rep
1337,Bondur,Loui,x6493,lbondur@classicmodelcars.com,4,1102,Sales Rep
1370,Hernandez,Gerard,x2028,ghernande@classicmodelcars.com,4,1102,Sales Rep
1401,Castillo,Pamela,x2759,pcastillo@classicmodelcars.com,4,1102,Sales Rep
1501,Bott,Larry,x2311,lbott@classicmodelcars.com,7,1102,Sales Rep
1504,Jones,Barry,x102,bjones@classicmodelcars.com,7,1102,Sales Rep
1611,Fixter,Andy,x101,afixter@classicmodelcars.com,6,1088,Sales Rep
1612,Marsh,Peter,x102,pmarsh@classicmodelcars.com,6,1088,Sales Rep
1619,King,Tom,x103,tking@classicmodelcars.com,6,1088,Sales Rep
1621,Nishi,Mami,x101,mnishi@classicmodelcars.com,5,1056,Sales Rep
1625,Kato,Yoshimi,x102,ykato@classicmodelcars.com,5,1621,Sales Rep
1702,Gerard,Martin,x2312,mgerard@classicmodelcars.com,4,1102,Sales Rep

In [ ]:
CREATE TABLE classicmodels.customers(
    customernumber string,
    customername string,
    contactlastname string,
    contactfirstname string,
    phone string,
    addressline1 string,
    addressline2 string,
    city string,
    state string,
    postalcode string,
    country string,
    salesrepemployeenumber string,
    creditlimit string)